h1 { 
    align-items: flex-start;
    gap: 20px; 
    width: 100%; 
    padding: 0 10px; 
    box-sizing: border-box; 
    flex-wrap: wrap; 
    margin-top: 20px; 
}

.item-1, .item-2, .item-3 {
    padding: 20px;
    border-radius: 10px; 
    text-align: center; 
    color: white; 
    min-width: 280px; 
    flex: 1 1 280px; 
    box-sizing: border-box;
}

span {
    font-size: 15px;
    color: rgb(60, 29, 235);
}

body {
    background-color: #eef2fa;
}

.flex-container-2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.eu {
    border-radius: 50%;
    height: 70%;
    width: 60%;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 60px;
}

.texto {
    margin-left: 90px;
    margin-top: 50px;
}

hr {
    border: 0; 
    border-top: 1px solid #000000;
    margin: 20px 0;
    margin-left: 30px;
    margin-right: 30px;
}

.item-3 {
    margin-right: 10px;
}

.texto-2 {
    max-width: 400px;
    margin: 0 auto;
    margin-left: 70px;
    font-size: 20px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent; 
    }
}


